{% extends 'base.html' %}
{% block content %}    
    <div class="info">
      <p>
        PlaySync is a software tool used to migrate/synchronize playlists across multiple music streaming platforms. These platforms may include but are not limited to, Spotify, Apple Music, Pandora, Amazon Music, and YouTube Music. This tool requires users to log in to their respective music platform accounts and specify which platform they wish to migrate from and which platform to migrate to. Users must specify which playlists they wish to migrate. Users may view the contents of each playlist before transferring.
        <br/>
        <br/>
        PlaySync software allows users to sync their playlists across platforms. Additionally, PlaySync gives users the option to do a one-time sync, or, to have playlist's sync automatically at a given time interval. Users may also share playlists with other users. PlaySync is not resposible for loss of music or playlist files. Please use PlaySync at your own risk and back up files before attempting every transfer.
        <br/>
        <br/>
        <a href="https://github.com/CSCI-3308-CU-Boulder/3308SP21_024_2">PlaySync Project Github</a> (should we link the project github? I believe it's private currently)<br/>
        <h3>Creator Information</h3>
        <br/>
        <ul>
          <li><a id="gitlinks" class="button" href="https://github.com/erlo6186" role="button"><span>Erica Lowrey</span></a></li><br/>
          <li><a id="gitlinks" class="button" href="https://github.com/Gaukas" role="button"><span>Gaukas Wang</span></a></li><br/>
          <li><a id="gitlinks" class="button" href="https://github.com/kamc3446" role="button"><span>Kaitlin McConnell</span></a></li><br/>
          <li><a id="gitlinks" class="button" href="https://github.com/captainlogan1" role="button"><span>Logan O'Brien</span></a></li><br/>
        </ul>
      </p>
    </div>
{% endblock %}