{% extends 'base.html' %}
{% block content %}  
        <!-- Possibly update w/ JavaScript so that unauthorized platforms are disabled and all can be viewed at once? -->
        <div class="dropdownContainer">
            <div class="left">
                <div class="dropdown pt-1 pb-4">
                    <button class="drop-button dropdown-toggle" type="button" id="sourceTransferButton" data-toggle="dropdown" aria-expanded="false">Platform 1</button>
                    <ul class="dropdown-menu" aria-labelledby="sourceTransferDropdownMenu">
                        <!-- Implement the search for each platform -->
                        <li><a class="dropdown-item" href="#" onclick="updateButton('source', 'Spotify')" id="spotifySource">Spotify</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateButton('source', 'YoutubeMusic')" id="youtubeSource">Youtube Music</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateButton('source', 'Platform3')" id="plat3Source">Platform3</a></li>
                    </ul>
                </div>
                <h5>Select the playlists you want to transfer:</h5>
                <div class="playlist-box" id="playlist-box">
                </div>
            </div>
            <button class="signup-button signup-button-disabled disabled" onclick="confirm()" style="margin: 20px; height: 45px; max-height: 45px; align-self: center;" id="confirmTransferButton">Transfer</button>
            <div class="left">
                <div class="dropdown pt-1 pb-4">
                    <button class="drop-button dropdown-toggle drop-button-disabled disabled" type="button" id="destinationTransferButton" data-toggle="dropdown" aria-expanded="false">Platform 2</button>
                    <ul class="dropdown-menu" aria-labelledby="destinationTransferDropdownMenu">
                        <li><a class="dropdown-item" href="#" onclick="updateButton('dest', 'Spotify')" id="spotifyDest">Spotify</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateButton('dest', 'YoutubeMusic')" id="youtubeDest">Youtube Music</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateButton('dest', 'Platform3')" id="plat3Dest">Platform3</a></li>
                    </ul>
                </div>
                <div class="container" id="progressContainer">
                    <h5 id="headerSelectTextTwo">You must select a valid playlist before choosing the destination platform.</h5>
                    <!--<div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color: #f2a154 !important;"></div>
                    </div>-->
                </div>
                <div class="status-box" id="status-box">
                </div>
            </div>
        </div>
{% endblock %}