{% extends 'base.html' %}
{% block content %}   

        <div class="row profile-page"> 
          <div class="col-sm-2 profile-side-bar" style="float: left; margin-left: -25px; padding: 0;">
            <ul>
              <button class="tablinks" onclick="openTab(event, 'personal-info')" id="defaultOpen">Personal Info</button>
              <button class="tablinks" onclick="openTab(event, 'platform-a')">Youtube Music</button>
              <button class="tablinks" onclick="openTab(event, 'platform-b')">Spotify</button>
              <button class="tablinks" onclick="openTab(event, 'del-acc')">Delete Account</button>
            </ul>
          </div>
          <div class="col-sm-9 offset-md-1 sidebar-content" style="outline: 1px solid white;">
            <div id="personal-info" class="tabcontent" style="text-align: left; display: inline-block;">
              <form class="email-update" action="./updatemail" method="POST">
                <!-- <h2>Current email:{{email}}</h2> -->
                
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="{{email}}">
                <br>
                <label for="mailing">Opt-in mailing list:</label>
                <input type="checkbox" id="mailing-list" name="mailing-list" value="TRUE">
                <br>
                <input type="submit" id="email-pref" value="Update">
              </form>
                <br>
                <br>
              <form action="/updatepw", method="POST">  
                <h2>Change Password</h2>
                <!-- <label for="current-pw">Current Password:</label>
                <input type="password" id="current-pw" name="current-pw">
                <label for="new-pw">New Password:</label>
                <input type="password" id="new-pw" name="current-pw">
                <label for="new-pw">Confirm New Password:</label>
                <input type="password" id="confirm-new-pw" name="confirm-new-pw">
                <input type="submit" id="pw-pref" value="Update"> -->
                <body onload="valid()">
                  <div class="registerContainer">
                          <div class="form-group mb-3 row">
                              <label for="registerPass" class="form-label">Password</label>
                              <input type="password" class="form-control" name="psw" id="registerPass" placeholder="Password">
                              <p class="form-text">Password must contain:</p>
                              <p id="lower" class="form-text invalid">&nbsp;A lowercase letter,</p>
                              <p id="upper" class="form-text invalid">&nbsp;an uppercase letter,</p>
                              <p id="number" class="form-text invalid">&nbsp;a number,</p>
                              <p id="length" class="form-text invalid">&nbsp;and at least 8 characters.</p>
                          </div>
                          <div class="form-group mb-3 row">
                              <label for="confirmPass" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" name="confirmPass" id="confirmPass" placeholder="Confirm Password">
                              <p id="match" class="form-text invalid">Password and confirm password must match.</p>
                          </div>
                          <button style="display: inline" id="signupRegisterButton" class="signup-button" disabled >Update</button>
                      </form>
                  </div>
              </form>
            </div>
            <div id="platform-a" class="tabcontent" style="text-align: left; display: inline-block;">
              <div class="platform-a-manual">
                <form action="./youtubeauth" method="POST">
                  <p>Enter raw header</p>
                  <textarea name="auth_body" cols="40" rows="10" value="{{auth_body}}">{{auth_body}}</textarea>
                  <br>
                  <input type="submit" id="platform-a-submit" value="Update">
                </form>
              </div>
            </div>
            <div id="platform-b" class="tabcontent" style="text-align: left; display: inline-block;">
              <div class="platform-b-auto" style="text-align: center;" >
                <h2>Connected Account: {{spotifyName}}</h2>
                <form action="./spotifyauth" method="GET">
                  <input type="submit" id="login-platform-b" value="Login Using Spotify">
                </form>
                <form action="./spotifyremove" method="GET">
                  <input type="submit" id="login-platform-b" value="Remove Account">
                </form>
              </div>
            </div>
            <div id="del-acc" class="tabcontent" style="text-align: left; display: inline-block;">
              <form action="/delete", method="POST">
                <h5>NOTE: THIS ACTION CANNOT BE UNDONE. All user information (playlist data, synchronization settings, etc) will be permanently deleted. We require password confirmation prior to account deletion.</h5>
                <label for="confirm-current-pw">Confirm Password:</label>
                <input type="password" name="psw" id="current-pw">
                <br>
                <input type="submit" id="del-acc-submit" value="Delete Account">
              </form>
            </div>
          </div>
        </div>       
      <script>
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();
      </script>
      <script>
        function valid() {	
          var psw = document.getElementById("registerPass");
          var cpsw = document.getElementById("confirmPass");
          var lower = document.getElementById("lower");
          var upper = document.getElementById("upper");
          var number = document.getElementById("number");
          var length = document.getElementById("length");
          var equals = document.getElementById("match");
        
        psw.onkeyup = function() {
              var lowerCase = /[a-z]/g;
              var upperCase = /[A-Z]/g;
              var numbers = /[0-9]/g;
              var minLength = 8;

              /*match for a lowercase letter*/
              if (psw.value.match(lowerCase)) {
                  lower.classList.remove("invalid");
                  lower.classList.add("valid");
              } else {
                  lower.classList.remove("valid");
                  lower.classList.add("invalid");
              }

              /*match for an uppercase letter*/
              if (psw.value.match(upperCase)) {
                  upper.classList.remove("invalid");
                  upper.classList.add("valid");
              } else {
                  upper.classList.remove("valid");
                  upper.classList.add("invalid");
              }

              /*match for a number*/
              if (psw.value.match(numbers)) {
                  number.classList.remove("invalid");
                  number.classList.add("valid");
              } else {
                  number.classList.remove("valid");
                  number.classList.add("invalid");
              }

              /*match for length*/
              if (psw.value.length >= minLength) {
                  length.classList.remove("invalid");
                  length.classList.add("valid");
              } else {
                  length.classList.remove("valid");
                  length.classList.add("invalid");
              }

              /*match for value on password*/
              if (psw.value == cpsw.value && psw.value != '' && cpsw.value != '') {
                  equals.classList.remove("invalid");
                  equals.classList.add("valid");
              } else {
                  equals.classList.remove("valid");
                  equals.classList.add("invalid");
              }
              enableSignup(lower, upper, number, length, equals);
          }

          /*match for value on confirm password*/
          cpsw.onkeyup = function() {
              if (psw.value == cpsw.value && psw.value != '' && cpsw.value != '') {
                  equals.classList.remove("invalid");
                  equals.classList.add("valid");
              } else {
                  equals.classList.remove("valid");
                  equals.classList.add("invalid");
              }
              enableSignup(lower, upper, number, length, equals);
          }
      }

      function enableSignup(lower, upper, number, length, equals) {
          var button = document.getElementById("signupRegisterButton");
          if (lower.classList.contains("valid") && upper.classList.contains("valid") && number.classList.contains("valid") && length.classList.contains("valid") && equals.classList.contains("valid")) {
              button.disabled = false;
          } else {
              button.disabled = true;
          }
      }
      </script>
{% endblock %}