<!DOCTYPE html>
<html lang="en">
    <body>
        <form class="loginform" action="/useradd" method="post">
            <div class="mb-1">
                <label for="username" class="sr-only">Username</label>
                <input class="form-control" type="text" id="username" placeholder="User" name="uname">
            </div>
            <div class="mb-1">
                <label for="password" class="sr-only">Password</label>
                <input class="form-control" type="password" id="password" placeholder="Password" name="psw">
            </div>
            <div class="mb-1">
                <label for="email" class="sr-only">Email</label>
                <input class="form-control" type="email" id="email" placeholder="Email" name="email">
            </div>
            <button class="login-button">Log In</button>
        </form>
    </body>
</html>