body {
  background-color: #314e52;
  font-family: "Abel";
  color: #f7f6e7;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.navBar {
  padding-top: 15px;
}

.navBar li {
  padding: 0;
  display: inline;
}

.navBar li:not(:last-child) {
  border-right: 1px solid #f7f6e7;
}

.navBar li:not(:first-child) {
  border-left: 1px solid #f7f6e7;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li a {
  padding: 8px 16px;
  text-decoration: none;
  color: #e7e6e1;
}

.navBar li a:hover {
  background-color: #f2a154;
  color: #f7f6e7;
}

.logo i {
  position: relative;
  top: -5px;
  color: #f2a154;
}

.info {
  margin: 0;
  padding: 30px 0 30px 0;
  text-align: justify;
}

.button {
  border-radius: 4px;
  background-color: #e7e6e1;
  border: none;
  color: #314e52;
  text-align: center;
/*  font-size: 14px;*/
  padding: 7px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.carousel-inner {
  border-radius: 25px;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}

.carousel-item {
  background-color: black; 
}

.carousel-item img {
  opacity: 0.4; 
}

.carousel-caption {
  margin-bottom: 25%;
  font-size: xx-large;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*added css*/

.login-container {
  padding: 30px;
}

.mainLogin {
  margin: auto;
  width: 40%;
}

.loginform {
  margin: 10px;
  width: 80%;
  padding: 10px;
}

.login-button {
  border-radius: 4px;
  background-color: #f2a154;
  border: none;
  color: #f7f6e7;
  text-align: center;
  padding: 7px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.login-button:hover {
  background-color: #69aeb3;
}

.vertical-line {
  border-left: 1px solid #f7f6e7;
}

.thirdPartyLogin {
  margin: auto;
  width: 40%;
}

.thirdPartyLogin button {
  background-color: #e7e6e1;
  border: none;
  color: #314e52;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 4px;
  width: 100%;
}

.signup-container {
  padding-top: 30px;
}

.signup-button {
  border-radius: 4px;
  background-color: #f2a154;
  border: none;
  color: #f7f6e7;
  text-align: center;
  padding: 7px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.signup-button-disabled {
  background-color: #69aeb3;
  color: #dbdbd3;
}

.signup-button:hover {
  background-color: #69aeb3;
}

.registerContainer {
  margin: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.registerContainer label {
  font-size: larger;
}

.valid {
  color: #f7f6e7;
}

.invalid {
  color: #f2a154;
}

.dropdownContainer {
  padding: 10px;
  display: flex;
}

.drop-button {
  border-radius: 4px;
  background-color: #e7e6e1;
  border: none;
  color: #314e52;
  text-align: center;
  padding: 7px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.drop-button-disabled {
  background-color: #b1b1b1;
  color: #505f61;
}

.left {
  width: 50%;
  flex: 1;
}

.right {
  width: 50%;
  flex: 1;
}

.playlist-box {
  border-radius: 25px;
  border-color: 2px solid white;
  display: flex;
  flex-direction: column;
  height: 375px;
  max-height: 375px;
  overflow: auto;
}

.playlist-item {
  display: inline-flex;
  justify-content: left;
  padding-top: 10px;
}

.playselect-button {
  border-radius: 4px;
  background-color: #e7e6e1;
  border: 2px solid #e7e6e1;
  padding: 7px;
  width: 30px;
  height: 30px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
}

.status-box {
  /*background-color: #131416;*/
  border-radius: 25px;
  /*border-color: 2px solid white;*/
  height: 375px;
  max-height: 375px;
  overflow: auto;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}

.status-item {
  background-color: #e7e6e1 !important;
  color: #314e52 !important;
  border: 1px solid #a8a7a0 !important;
}

.fake-code {
  font-family: monospace;
}

.selected {
  background-color: #f2a154 !important;
  color: #314e52 !important;
  border: 1px solid #c07a39 !important;
}

.psb-clicked {
  border-radius: 4px;
  background-color: #f2a154;
  border: 2px solid #e7e6e1;
  padding: 7px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.profile-side-bar{
  height: 100%;
  
}

.profile-side-bar ul{
  list-style-type: none;
}

.profile-side-bar button{
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background-color: #e7e6e1;
}

.profile-side-bar button:hover{
  background-color: #f2a154;
}

.profile-side-bar button.active{
  background-color: #f2a154;
}

.sidebar-content {
  font-size: 20px;
}

.sidebar-content input[type=submit] {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #e7e6e1;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar-content label {
  padding-top: 3px;
  padding-bottom: 3px;
}

.sidebar-content input:not([type=checkbox]):not([type=submit]){
  width: 100%;
  clear: right;
}

